
@* @model IEnumerable<A3_G4.Controllers.SchedulesController.ScheduleWithCoachesViewModel> *@



@{
    ViewData["Title"] = "Coach Schedules";
}

<h1>@ViewData["Title"]</h1>

<br>
<table class="table">
    <thead>
        <tr>
            <th>
                Event name
            </th>
            <th>
                Location
            </th>
            <th>
                Members
            </th>
        </tr>
    </thead>
    <tbody>
@*         @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Location
                </td>
                <td>
                    @item.Member
                </td> *@
@*                 <td>
                    @if ((ViewBag.Member.ContainsKey(item.MemberId)))
                    {
                        @foreach (var coach in ViewBag.Member[item.MemberId])
                        {
                            <a asp-area="" asp-controller="Coaches" asp-action="Details" asp-route-id="@coach.Id">
                                @coach.Name
                            </a>
                            <!--Adds space without extending the link-->

                            <span>&shy;</span>
                        }
                    }
                </td> *@

            </tr>
        

    </tbody>
</table>
<div>
    <a asp-action="Index">Back to List</a>
</div>



