@model A3_G4.Models.Schedule

@{
    ViewData["Title"] = "Details";
}

<h1>Cancel enrollemnt</h1>

<div>
    <h4>Are you sure you want to cancel your enrollment in the following event?</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <form asp-action="Cancel">
        <input type="hidden" asp-for="ScheduleId" />
        <input type="submit" value="Cancel" class="btn btn-danger" /> |
        <a asp-action="MySchedule">Back to MySchedule</a>
    </form>
</div>
