@model A3_G4.Models.EnrolledMember

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>EnrolledMember</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <!--
                <label asp-for="MemberId" class="control-label"></label>
                <input asp-for="MemberId" class="form-control" />
                <span asp-validation-for="MemberId" class="text-danger"></span>
                -->
                @Html.LabelFor(model => model.MemberId, "Member")
                @Html.DropDownListFor(model => model.MemberId, (SelectList)ViewData["MemberFK"], "Select an option", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MemberId)
            </div>
            <div class="form-group">
                <!--
                <label asp-for="ScheduleId" class="control-label"></label>
                <input asp-for="ScheduleId" class="form-control" />
                <span asp-validation-for="ScheduleId" class="text-danger"></span>
                -->
                @Html.LabelFor(model => model.ScheduleId, "Schedule")
                @Html.DropDownListFor(model => model.ScheduleId, (SelectList)ViewData["ScheduleFK"], "Select an option", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ScheduleId)
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
